@keyframes example {
    from {background-color: #DDD;}
    to {background-color: #FFF;}
}

h1.title {
  animation-name: example;
  animation-duration: 15s;
  animation-direction: alternate;
  animation-iteration-count: 9999999;
}

@keyframes example2 {
    from {background-color: #FFF;}
    to {background-color: #DDD;}
}
h2.author {
  animation-name: example2;
  animation-duration: 15s;
  animation-direction: alternate;
  animation-iteration-count: 9999999;
}

/* Pic without borders */
.reveal section img {
  border: 0;
  background: #FFF;
  box-shadow:0 0;
}

/* left and right */
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}


/* picture sizes */
.slide img {
  vertical-align: middle;
}


.mini-picture img{
  max-width:50px;
  max-height:50px !important;
  vertical-align:middle;
}

.medium-picture img{
  max-width:150px;
  max-height:150px !important;
  vertical-align:middle;
}

.large-picture img{
  max-width:300px;
  max-height:300px !important;
  vertical-align:middle;
}

.title-picture img{
  max-height:100px !important;
  vertical-align:middle;
}

img{
  max-height:500px !important;
}

/* align td middle */
.reveal td {
  vertical-align: middle;
}



/* dark background */
section.dark h2 {
  color:white;
}

.dark {
  color:white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

/* grey background */

section.grey h1 {
  color:white;
  text-shadow: -3px 0 2px black, 0 3px 2px black, 3px 0 2px black, 0 -3px 2px black;
}



/* code size */
code.r {
  font-size:0.8em;
  line-height:1em;
}


/* slide background */
html.dark-background div.present .slide-background {
    opacity: 0.4 !important;
}
